/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --background-color: #67b99a;
  --header-color: #358f80;
  --footer-color: #78c6a3;
  --card-color: white; 
  --button-color: white;
  --shadow: #248277;
}


*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--header-color);
  color: white;
  height: 100px;
  padding: 10px;
}

.books{
  background-color: var(--background-color);
  flex: 2;
  grid-row: 2 / 8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  gap: 50px;
}

.book {
  background-color: var(--card-color);
  width: 200px;
  height: fit-content;
  margin: 20px;
  justify-self: center;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--header-color);
  box-shadow: 0px 0px 10px var(--shadow);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.book > .buttons{
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.buttons > button{
  width: 50%;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

#remove-btn{
  background-color: coral;
  color: white;
}





footer{
  grid-row-start: 8;
  background-color: var(--footer-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
}

#github-link{
  text-decoration: none;
  color: white;
}

#github-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

#add-btn{
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: none;
  background-color: var(--button-color);
  color: black;
  font-size: 20px;
  text-decoration: none;
}

#submit-btn,
#close-btn{
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: var(--button-color);
}

button:hover{
  opacity: 80%;
  cursor: pointer;
}


.modal{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40%;
  padding: 50px;
  max-width: 50ch;
  background-color: var(--background-color);
  /* border: 3px white solid; */
  border: none;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 30px var(--shadow);
}

form{
  margin-top: 20px;
  margin-bottom: 10px;
}

form div{
  display: flex;
  gap: 10px;
}

input[type="text"],
input[type="number"]{
  background-color: var(--footer-color);
  color: white;
  border:none;
  border-radius: 10px;
  padding: 5px;
}

input[type="checkbox"]{
  background-color: var(--button-color);
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 18px;
  height: 18px;
     
}

